{% extends "seller/sheader.html" %}
{% load static %}
{% block content %}


<div class="untree_co-section position-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7">
        <div class="card shadow-sm bg-light border">
          <div class="card-body p-4">
            <h2 class="text-center mb-5">ADD PRODUCT</h2>
            <div class="notification">
              {% if messages %}
                  {% for message in messages %}
                      <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                  {% endfor %}
              {% endif %}
            </div>
          
            <form action="{% url "padd" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-3 row align-items-center">
                  <label for="product" class="form-label col-sm-3">Select Product</label>
                  <div class="col-sm-3">
                    <select name="pcat" class="form-select">
                      <option value="chair">chair</option>
                      <option value="sofa">sofa</option>
                    </select>
                  </div>
                </div>
              <div class="form-group mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="pname" name="pname" required>
              </div>
              <div class="form-group mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea class="form-control" id="pdesc" name="pdesc" rows="3"></textarea>
              </div>
              <div class="form-group mb-3">
                <label for="email" class="form-label">Price</label>
                <input type="number" class="form-control" id="pprice" name="pprice" required>
              </div>

              <div class="form-group mb-4 d-flex flex-column">
                <label for="file" class="form-label">Product Image</label>
                <input type="file" class="form-control-file" id="pimg" name="pimg" required>
              </div>
              
              <button type="submit" class="btn btn-primary w-100">Add Product</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  
</div>


{% endblock content %}
